/* style.css */
body {
  background-color: pink;
  color: white;
  margin: 0;
  padding: 0;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  position: relative;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  height: 80vh;
}

.grid-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 1em;
}

.input {
  width: 50px;
  font-size: 30px;
  border: none;
  color: pink;
}

.output {
  width: 50px;
  font-size: 30px;
}

.signs {
  font-size: 30px;
}

.button {
  background-color: transparent;
  border: transparent;
  color: white;
  cursor: url("../public/paw-icon.svg"), auto;
}

.weasel {
  /* position: absolute;
  z-index: -1; */
  width: 70%;
  height: 70%;
}
